body {
    margin: 0;
    text-align: center;
    font-family: 'Space Mono', monospace;
}
.top-container {
    background: linear-gradient( to bottom, #85CDFD, #FC92E3);
    height: 700px;
}
.middle-container {
    background: linear-gradient(to bottom, #FC92E3, #FDB9FC);
}
.bottom-container {
    background-color: #66BFBF;
    padding-top: 30px;
    line-height: 2;
}
h1 {
    margin: 50px auto 0 auto;
    position: relative;
    bottom: 570px;
    font-family: 'Sacramento', cursive;
    font-size: 4.5rem;
    color: #23049D;
    line-height: 1.8;
}
h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5rem;
    color: #23049D;
    font-weight: normal;
}
h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    color: #440A67;
}
.heading {
    position: relative;
    bottom: 600px;
    font-size: 1.5rem;
}

.mountain {
    height: 600px;
    position: relative;
    top: 200px;
}
.cloud1 {
    height: 200px;
    position: absolute;
    left: 180px;
}
.cloud2 {
    height: 200px;
    position: absolute;
    right: 250px;
    top: 100px;
}
.painting {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 30px;
}
.gardening {
    height: 250px;
    width: 250px;
    float: right;
    margin-left: 30px;
}
.kawai {
    height: 200px;
    width: 200px;
    margin-top: 50px;
}
.skill-row {
    width: 50%;
    margin: auto;
    text-align: left;
    line-height: 2;
    padding-bottom: 20px;
}
.btn {
  font-weight: bolder;
  background: #63cfed;
  background-image: -webkit-linear-gradient(top, #63cfed, #ef43f2);
  background-image: -moz-linear-gradient(top, #63cfed, #ef43f2);
  background-image: -ms-linear-gradient(top, #63cfed, #ef43f2);
  background-image: -o-linear-gradient(top, #63cfed, #ef43f2);
  background-image: linear-gradient(to bottom, #63cfed, #ef43f2);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a372f2;
  background-image: -webkit-linear-gradient(top, #a372f2, #7065e6);
  background-image: -moz-linear-gradient(top, #a372f2, #7065e6);
  background-image: -ms-linear-gradient(top, #a372f2, #7065e6);
  background-image: -o-linear-gradient(top, #a372f2, #7065e6);
  background-image: linear-gradient(to bottom, #a372f2, #7065e6);
  text-decoration: none;
}
.contact-me {
    width: 30%;
    margin: auto;
    line-height: 2;
    height: 400px;
}
hr {
    border: solid;
    border-style: dotted none none;
    width: 5%;
    border-color: #23049D;
    border-width: 6px;
    margin: 60px auto;
}
.footer-link {
  font-weight: bold;
  font-family: Arial;
  color: #23049D;
  font-size: 25px;
  text-decoration: none;
  padding: 0 20px 0 20px;
}

.footer-link:hover {
  background: #a372f2;
  background-image: -webkit-linear-gradient(top, #a372f2, #7065e6);
  background-image: -moz-linear-gradient(top, #a372f2, #7065e6);
  background-image: -ms-linear-gradient(top, #a372f2, #7065e6);
  background-image: -o-linear-gradient(top, #a372f2, #7065e6);
  background-image: linear-gradient(to bottom, #a372f2, #7065e6);
  text-decoration: none;
}

